<div class='js-trigger'>
  <%%= @categoryLabel %>
  <%= image_tag "drop-down-arrow.png", class: 'drop-down-arrow' %>
</div>
<div class="categories popover">
  <div class="popover-content">
    <ul>
      <li><a href="#"><%= I18n.t 'scoreboard.header.left_menu.none' %></a></li>
      <li><a href="#" data-category='federal'><%= I18n.t 'scoreboard.header.left_menu.categories.federal' %></a></li>
      <li><a href="#" data-category='state'><%= I18n.t 'scoreboard.header.left_menu.categories.state' %></a></li>
      <li><a href="#" data-category='local'><%= I18n.t 'scoreboard.header.left_menu.categories.local' %></a></li>
      <li><a href="#" data-category='other'><%= I18n.t 'scoreboard.header.left_menu.categories.other' %></a></li>
      <li><a href="#" data-category='referendums'><%= I18n.t 'scoreboard.header.left_menu.categories.referenda' %></a></li>
    </ul>
  </div>
</div>
