= hidden_field_tag :map_browser_key, AppConfig['google_maps']['browser_key']
= hidden_field_tag :map_center_lat, @center[1]
= hidden_field_tag :map_center_lng, @center[0]
= hidden_field_tag :map_zoom, @zoom
= hidden_field_tag :map_id, @map_id

- if @showColors
  %script
    window.mapPartyColors = #{raw AppConfig['party_colors'].to_json};

#map
