- @page_id = 'pages_front'
.row
  .span12
    = image_tag "logo.jpg"

    %section
      %h1= t 'front.title'
      .lead= t 'front.summary'
      %p= t 'front.details'
      .enter= link_to t('front.button_label'), '#', class: 'btn btn-large btn-success'
      %small.muted= t 'front.footer'
