- @page_id = 'pages_front'

.row
  .span12
    %section.head
      = image_tag "logo.jpg"

    %section.main
      %h1= t 'front.title'
      .lead= t 'front.summary'
      %p= t 'front.details'
      .enter= link_to t('front.button_label'), '/state', class: 'btn btn-large btn-success'
      %small.muted= t 'front.footer'
