- @page_id = "pages_state"
.row
  .span12.header
    .row
      .span6
        %h1 Travis County, Texas
      .span6
        %p November 2, 2010 Election Day Results

.row
  .span12.subh
    .row
      .span2
        %h2 Scoreboard
      .span10.space
        &nbsp;

.row
  .span12.menu
    %ul
      %li.span2= link_to "Local", "#"
      %li.span2.active= link_to "State", "#"
      %li.span2= link_to "Federal", "#"

.row.top-line
  .span3 Select a Precinct
  .span7
  .span2.share= image_tag 'share-icons.png', size: "140x19"

.row
  .span3
    = render 'precincts'
  .span9
    = render 'map'
    = render 'stats'
