.page-header
  %h1 Data Management

.row-fluid
  .span6
    = link_to "Full Definitions and Data Reset", :admin_full_reset, class: 'btn btn-danger', confirm: "Are you sure to delete everything?"

.row-fluid
  .span6
    %h3 Upload definitions
    = form_tag admin_load_definitions_path, multipart: true do
      .row-fluid
        .span6
          .file-wrap
            %span.file-btn.btn Choose XML file
            = file_field_tag :file
        .span6
          = submit_tag "Upload", class: 'btn'

  .span6
    %h3 Upload results
    = form_tag admin_load_results_path, multipart: true do
      .row-fluid
        .span6
          .file-wrap
            %span.file-btn.btn Choose XML file
            = file_field_tag :file
        .span6
          = submit_tag "Upload", class: 'btn'

