.page-header
  %h1= @locality.name


.row-fluid
  .span12
    %table.properties
      %tr
        %th.l UID:
        %td= @locality.uid
      %tr
        %th.l Type:
        %td= @locality.locality_type
        
        
        
.row
  .span12
    %h3 Upload NIST Election Report w/Results
    = form_tag admin_load_nist_results_path, multipart: true do
      .row-fluid
        .span6
          .file-wrap
            %span.file-btn.btn Choose XML file
            = file_field_tag :file
            = hidden_field_tag :locality_id, @locality.id
        .span6
          = submit_tag "Upload NIST XML", class: 'btn'


.row
  .span12
    %h3 Upload Demographics CSV
    = form_tag admin_load_demographics_path, multipart: true do
      .row-fluid
        .span6
          .file-wrap
            %span.file-btn.btn Choose CSV file
            = file_field_tag :file
            = hidden_field_tag :locality_id, @locality.id
        .span6
          = submit_tag "Upload Demographics CSV", class: 'btn'


.row
  .span12
    %h3 Contests
    - if @locality.contests.blank?
      %p.none No contests uploaded
    - else
      %table.table.contests
        %thead
          %tr
            %th.election Election
            %th.uid  UID
            %th.office Office
            %th.district District
        %tbody
          - @locality.contests.includes(:district, :election).order('election_id, sort_order').each do |c|
            %tr
              %td.election= c.election.uid
              %td.uid= c.uid
              %td.office= c.office
              %td.district= c.district ? c.district.name : 'MISSING'

.row
  .span12
    %h3 Precincts
    - if @locality.precincts.blank?
      %p.none No precincts uploaded
    - else
      %table.table.precincts
        %thead
          %tr
            %th.uid UID
            %th.name Name
        %tbody
          - @locality.precincts.order('name').each do |p|
            %tr
              %td.uid= p.uid
              %td.name= p.name


.row
  .span12
    %h3 Districts
    - if @locality.districts.blank?
      %p.none No districts uploaded
    - else
      %table.table.districts
        %thead
          %tr
            %th.uid UID
            %th.name Name
        %tbody
          - @locality.districts.order('name').each do |d|
            %tr
              %td.uid= d.uid
              %td.name= d.name
