!!!
%html
  %head
    %title ENRS
    %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body{ id: @page_id }
    .container
      = yield
      - if Rails.env.development?
        = console

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = include_gon
    = javascript_include_tag "application"
    - if @js
      = javascript_include_tag @js
